<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kur'an Ezber Takip Sistemi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/memorized-surahs/">Ezberlenen Sureler</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Çıkış Yap</button>
                </form>
            </li>
            <li>
                <form action="{% url 'login_page' %}" method="get" style="display: inline;">
                    <button type="submit" style="background-color: #28a745; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer;">Giriş Yap</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
